* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}

body {
    font-family: "orbitron";    
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.2)),
        url('./210814848.jpg');
    background-size: cover;
    color: #fff;
    padding-top: 100px;
}